table {
    margin-top:1px;
    margin-bottom:1px;
    border-spacing: 2px; /* cellspacing */
}

table td, table th {
    padding: 2px; /* cellpadding */
}

table1 {
    display: table;
    margin-top:5px;
    margin-bottom:5px;
    border-spacing: 1px;  
}
